body,html{
    margin: 0;
    padding: 0;
}
main,.footer-site{
    padding: 0!important;
}
.footer-site{
    background-color: black;
    height: 30px;
    color: white;
    margin: 0;
}
.margin-menu a{
    margin: 0 5px;
}

.flex{
    display: flex;
}

main{
    padding: 0;
}
ul{
    list-style: none;
    padding: 0;
}
a{
    text-decoration: none;
}
.infoArticle{
    justify-content: space-between;
    background-color: rgb(89, 89, 255);
    border-radius: 0 0 8px 8px;
    border-bottom: 2px solid black;
    height: 30px;
    align-items: center;
    padding: 0 1rem;
    color: rgba(255, 255, 255, 0.74);
}
tbody tr:hover{
    background-color: rgb(90, 188, 253);
}
.flex-col{
    flex-direction: column;
}
/**************************************** ADMIN **********************************/
.btn_Admin{
    flex:2;
    border-radius: 2rem;
    padding: 3em;
    margin: 1em;
    background-color:#3498DB ;
    color: white;
    font-size: 1.5em;
    font-weight: 600;
    text-align: center;

}
.btn_Admin:hover{
    background-color: #1F618D;
}
.btn_Delete_Comments_Admin::before, .btn_Delete_Article::before, .btn_Delete_User::before {
    font-family: "Font Awesome 5 Pro";
    font-weight: 900;
    content: "\f2ed";
}
.btn_Edit_Article::before, .btn_Edit_User::before{
    font-family: "Font Awesome 5 Pro";
    font-weight: 900;
    content: "\f044";
    color: white;
}
.btn_Valide_Warning::before{
    font-family: "Font Awesome 5 Pro";
    font-weight: 900;
    content: "\f2ed";
    color: white;
}
.btn_Delete_Warning::before{
    font-family: "Font Awesome 5 Pro";
    font-weight: 900;
    content: "\f058";
    color: white;
}
.btn{
    padding: 5px;
    border-radius: 5px;
}
a{
    color: white;
}


table{
    width: 100%;
    text-align: center;
}
table tr{
    height: 40px;
}

#form_Edit{
    display: flex;
    flex-direction: column;
    margin: 20px 5%;
}
#form_Comment{
    display: flex;
    flex-direction: column;
    margin: 20px 5%;
}
.list_Article{
    border: 1px solid black;
}
.list_Article td{
    border: none;
}
.list_Article:hover{
    background-color: #03a9f4;
    
}
table {
    border-collapse: separate;
    border-spacing: 0;
}
.list_Article_Accueil{
    padding: 0 3em;
}
.list_Article_Accueil .zone_Title{
    background-color: rgb(89, 89, 255);
    border-radius: 8px 8px 0 0;
    border-bottom: 2px solid black;
    height: 30px;
}
.list_Article_Accueil .zone_Title h3{
    margin: 5px 1em;
    color: white;
}
.list_Article_Accueil article{
    border-radius: 10px;
    margin: 1em 0;
    display: flex;
    flex-direction: column;
}
.list_Article_Accueil .zone_Content{
    background-color: rgba(128, 128, 128, 0.479);
}
.list_Article_Accueil article h3{
    margin: 0;
}


.container_Article{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.item_Article{
    flex:20%;
    margin:1em;
    max-width: 20%;
    border: 2px solid black;
    border-radius: 15px;
}
.item_Article .top_Article{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 20px;
    padding: 15px;
    background-color: rgba(128, 128, 128, 0.336);
    border-radius: 15px 15px 0 0;
}
.item_Article .body_Article{
    height: 200px;
    padding: 15px;
}
.item_Article .footer_Article{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background-color: rgba(128, 128, 128, 0.336);
    border-radius: 0 0 15px 15px;
}

/*****************************************************************************/
/*********************************** LOGIN ***********************************/
/*****************************************************************************/
#connection{
    display: none;
    position: fixed;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 500px;
    height: 300px;
    background-color: #7ad5ff;
    padding: 2rem;
    border-radius: 10px;
}
.close{
    font-size: 2em;
    color: black;
    background-color: transparent;
    border: none;
    position: absolute;
    top: -40px;
    right: 10px;
}
.close:hover{
    color: red;
    transition: .3s;
}
#form_Register{
    display: none;
}
/*****************************************************************************/
/*********************************** ADMIN ***********************************/
/*****************************************************************************/

.menu_admin{
    background-color: black;
    height: 100vh;
}
.menu_admin a{
    display: block;
    padding: 1em 10px;
    color: white;
    font-weight: 600;
}
.card-admin{
    box-shadow: 10px 10px 5px 0px #656565;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    margin:0 4em;
    padding: 2em 0;
    width: 300px;
}
.card-admin h3{
    font-size: 5em;
}
.card-admin:hover{
    background-color: rgb(184, 184, 184);
    transition: .5s;
}
.card-admin p {
    text-align: left;
    font-size: 1.2em;
}
.cercle{
    width: 150px;
    height: 150px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 10px solid;
    background-color: white;
}

.cercle-green{
    border-color: green;
}
.cercle-orange{
    border-color: orange;
}
.cercle-red{
    border-color: red;
}
.cart h3{
    font-size: 5em;
    margin: 0;
    padding: 0;
}
.tab_comment{
    margin:2em 0;
}
.alert{
    padding: 10px 20px;
}

.alert_OK{
    background-color: rgb(26, 221, 68);
    color: green;
}