body,html{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
    padding: 0;
}
a{
    text-decoration: none;
}
.infoArticle{
    justify-content: space-between;
}

/***********************************************************************************/
.flex{
    display: flex;
}
.flex-right{
    justify-content: flex-end;
    padding: 0 20px;
}
.flex-3{
    flex: 3;
}
.flex-1{
    flex: 1;
}
.flex-5{
    flex: 5;
}
.flex-wrap{
    flex-wrap: wrap;

}
.flex-col{
    flex-direction: column;
}
main{
    position: absolute;
    top: 50px;
    width: 100%;
}
header{
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    color: white;
    background-color: #0191C8;
    z-index: 100;
}
header ul li {
    margin: 0 10px;
}
#logo{
    text-align: center;
}
/**************************************** ADMIN **********************************/
.btn_Admin{
    flex:2;
    border-radius: 2rem;
    padding: 3em;
    margin: 1em;
    background-color:#3498DB ;
    color: white;
    font-size: 1.5em;
    font-weight: 600;
    text-align: center;

}
.btn_Admin:hover{
    background-color: #1F618D;
}
.btn{
    padding: 5px;
    border-radius: 5px;
}
.btn_Delete{
    color: white;
    background-color: tomato;
}
.btn_Edit{
    background-color: green !important;
    color: white!important;
}
.btn_Coms{
    background-color: rgb(0, 81, 255) !important;
    color: white!important;
}

table{
    width: 100%;
    text-align: center;
}
table tr{
    height: 40px;
}

#form_Edit{
    display: flex;
    flex-direction: column;
    margin: 20px 5%;
}
#form_Comment{
    display: flex;
    flex-direction: column;
    margin: 20px 5%;
}
.list_Article{
    border: 1px solid black;
}
.list_Article td{
    border: none;
}
.list_Article:hover{
    background-color: #03a9f4;
    
}
table {
    border-collapse: separate;
    border-spacing: 0;
}
.list_Article_Accueil{
    padding:0;
}


.container_Article{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.item_Article{
    flex:20%;
    margin:1em;
    max-width: 20%;
    border: 2px solid black;
    border-radius: 15px;
}
.item_Article .top_Article{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 20px;
    padding: 15px;
    background-color: rgba(128, 128, 128, 0.336);
    border-radius: 15px 15px 0 0;
}
.item_Article .body_Article{
    height: 200px;
    padding: 15px;
}
.item_Article .footer_Article{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background-color: rgba(128, 128, 128, 0.336);
    border-radius: 0 0 15px 15px;
}

/*****************************************************************************/
/*********************************** LOGIN ***********************************/
/*****************************************************************************/
#connection{
    display: none;
    position: fixed;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 500px;
    height: 300px;
    background-color: #7ad5ff;
    padding: 2rem;
    border-radius: 10px;
}
.close{
    font-size: 2em;
    color: black;
    background-color: transparent;
    border: none;
    position: absolute;
    top: -40px;
    right: 10px;
}
.close:hover{
    color: red;
    transition: .3s;
}
#form_Register{
    display: none;
}
/*****************************************************************************/
/*********************************** ADMIN ***********************************/
/*****************************************************************************/

.menu_admin{
    background-color: black;
    height: 100vh;
}
.menu_admin a{
    display: block;
    padding: 1em 10px;
    color: white;
    font-weight: 600;
}
.cart{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cercle{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background-color: orange;
}
.cart h3{
    font-size: 10em;
    margin: 0;
    padding: 0;
}